# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Babel Configs
.babelrc

# Eslint Configs
.eslintignore
.eslintrc.js

# Git Ignore File
.gitignore

# Travis Config
.travis.yml

# English Readme
README-en.md

# Webpack Config
webpack.config.js

# rts2 cache
.rts2*

# ts config files
tsconfig.json
tslint.json

# jest config file
jest.config.js